body{
    background-color:darkslategray;
    background-image: linear-gradient(to bottom, #46094f, #371c59, #26285f, #133060, #00375f, #003761, #003764, #003766, #002f6d, #002672, #001a75, #000574);
    /*background: url("https://cdn.hipwallpaper.com/i/88/31/wSXZa6.jpg") center / cover no-repeat;*/
    
    font-family: 'Source Sans Pro', sans-serif;
}
#lap{
    width: 70%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 15%;
    margin-top: 2%;
    border: 5px solid rgb(11, 6, 83);
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  nav {
    position: relative;
    top: 3%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
  }
  nav:after {
    content: "";
    display: table;
    clear: both;
  }
  nav ul li {
    list-style: none;
    display: inline-block;
    oveflow: hidden;
  }
  nav ul li a {
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    transform: translateX(-15%);
    border-radius: 50px;
    width: 130%;
    text-align: center;
    transition-duration: 0.25s;
  }
  nav ul li a:hover {
    color: white;
  }
  nav ul li.active a {
    color: white;
  }
  nav ul li:nth-child(1) a {
    background-color: #69AF23;
  }
  nav ul li:nth-child(2n) a {
    background-color: #008737;
  }
  nav ul li:nth-child(3n) a {
    background-color: #FFC300;
  }
  nav ul li:nth-child(4n) a {
    background-color: #E62D87;
  }
  nav ul li:nth-child(5n) a {
    background-color: #552382;
  }
  nav .dot {
    background-color: red;
    width: 6px;
    height: 6px;
    position: absolute;
    bottom: -20px;
    left: 0;
    border-radius: 50%;
    transition-duration: 0.5s;
  }
  